<%= turbo_frame_tag "question_#{form.index}", data: { question_order_target: "frame" } do %>

  <%= form.hidden_field :id %>
  <%= form.hidden_field :position %>

  <div>
    <%= form.label :question_title, "質問タイトル" %>
    <%= form.text_field :question_title %>
  </div>

  <div>
    <%= form.label :question_type, "質問タイプ" %>
    <%= form.select :question_type, Question.question_types.keys.map { |k| [k.humanize, k] } %>
  </div>

  <div>
    <%= form.label :is_required, "必須にする" %>
    <%= form.check_box :is_required %>
  </div>

  <h4>Choices</h4>
  <div id="choices_<%= form.index %>">
    <%= form.fields_for :choices do |choice_form| %>
      <%= render "admins/choices/form", form: choice_form %>
    <% end %>
  </div>

  <%= form.submit "Add choice",
    formaction: admins_choice_path(form.object.choices.size, question_index: form.index),
    formmethod: :post,
    formnovalidate: true,
    id: "add-choice-#{form.index}" %>

  <button type="button" data-action="question-order#moveUp">↑</button>
  <button type="button" data-action="question-order#moveDown">↓</button>

  <%= form.submit "destroy question",
    formaction: admins_question_path(form.index, form.object.id),
    formmethod: :delete,
    formnovalidate: true,
    data: { turbo_frame: "question_#{form.index}" } %>
<% end %>
