<%= form_with(model: [:admins, survey], local: true) do |form| %>
<%= render "admins/shared/error_messages", resource: survey %>
  <div>
      <%= form.label :title, "タイトル" %>
      <%= form.text_field :title %>
  </div>

  <div>
      <%= form.label :summary, "概要" %>
      <%= form.text_area :summary %>
  </div>

  <div>
      <%= form.label :description, "説明" %>
      <%= form.text_area :description %>
  </div>

  <%= form.fields_for :questions do |subform| %>
    <%= render partial: "admins/questions/form", locals: {form: subform} %>
  <% end %>

  <%= turbo_frame_tag 'new_questions' %>

  <%= link_to "NEW", new_admins_question_path, data: {turbo: true, turbo_stream: true} %>
  <div>
    <%= form.submit %>
  </div>
<% end %>
