<%= form_with(model: [:admins, @survey]) do |form| %>
  <% if @survey.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(survey.errors.count, "error") %> prohibited this survey from being saved:</h2>

      <ul>
        <% survey.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div>
      <%= form.label :title, "タイトル" %>
      <%= form.text_field :title %>
  </div>

  <div>
      <%= form.label :summary, "概要" %>
      <%= form.text_area :summary %>
  </div>

  <div>
      <%= form.label :description, "説明" %>
      <%= form.text_area :description %>
  </div>

  <h4>Questions</h4>
  <div id="questions">
    <%= form.fields_for :questions do |question_form| %>
      <%= render "admins/questions/form", form: question_form %>
    <% end %>
  </div>


  <%= form.submit "Add question", formaction: admins_question_path(@survey.questions.size), formmethod: :post, formnovalidate: true, id: "add-question" %>

  <div>
    <%= form.submit %>
  </div>
<% end %>
