<%= turbo_frame_tag dom_id(f.object) do %>
  <div class="nested-fields">
    <div>
      <%= f.label :question_title, "質問タイトル" %>
      <%= f.text_field :question_title %>
    </div>
    <div>
      <%= f.label :question_type, "質問タイプ" %>
      <%= f.select :question_type, Question.question_types.keys.map { |k| [k.humanize, k] } %>
    </div>
    <div>
      <%= f.label :is_required do %>
        <%= f.check_box :is_required %>
        入力を必須にする
      <% end %>
    </div>
    <%= f.hidden_field :_destroy %>
    <% if f.object.persisted? %>
      <%= link_to "削除する", admins_survey_question_path(@survey, f.object),
        data: {
          turbo_method: :delete,
          turbo_confirm: "本当に削除しますか？"
        } %>
    <% else %>
      <%= link_to "削除", "#", onclick: "this.closest('.nested-fields').style.display='none'; this.previousElementSibling.value='1'; return false;" %>
    <% end %>
  </div>
<% end %>
