<div class="nested-fields">
  <div>
    <%= f.label :question_title, "質問タイトル" %>
    <%= f.text_field :question_title %>
  </div>
  <div>
    <%= f.label :question_type, "質問タイプ" %>
    <%= f.select :question_type, Question.question_types.keys.map { |k| [k.humanize, k] } %>
  </div>
  <%= f.hidden_field :_destroy %>
  <%= button_tag "質問を削除", type: 'button', onclick: "this.previousElementSibling.value='1'; this.closest('.nested-fields').style.display='none';" %>
</div>
