<h1><%= @survey.title %></h1>
<p>概要:<%= @survey.summary %></p>
<p>説明:<%= @survey.description %></p>

<h2>質問一覧</h2>
<ul>
  <% @survey.questions.each do |question| %>
    <li>
      <strong>タイトル:</strong> <%= question.question_title %><br>
      <strong>タイプ:</strong> <%= question.question_type %><br>
      <strong>入力:</strong> <%= question.is_required ? '必須' : '必須ではない' %><br>
      <strong>選択肢:</strong> <%= question.choices.map(&:choice_text).join(', ') %><br>
    </li>
  <% end %>
</ul>

<h2><%= link_to "回答者一覧", admins_survey_responses_path(@survey) %></h2>

<div>
  <%= link_to "Edit this survey", edit_admins_survey_path(@survey) %> |
  <%= link_to "Back to surveys", admins_surveys_path %>
  <%= button_to "Destroy this survey", admins_survey_path(@survey), method: :delete %>
</div>
