<p style="color: green"><%= notice %></p>

<h1><%= @survey.title %></h1>
<p><%= @survey.description %></p>

<h2>質問一覧</h2>
<ul>
  <% @survey.questions.each do |question| %>
    <li>
      <strong>タイトル:</strong> <%= question.question_title %><br>
      <strong>タイプ:</strong> <%= question.question_type %>
    </li>
  <% end %>
</ul>

<div>
  <%= link_to "Edit this survey", edit_admins_survey_path(@survey) %> |
  <%= link_to "Back to surveys", admins_surveys_path %>
  <%= button_to "Destroy this survey", admins_survey_path(@survey), method: :delete %>
</div>
