<h2><%= @survey.title %></h2>
<p>説明: <%= @survey.description %></p>
<p>要約: <%= @survey.summary %></p>


<%= link_to '回答する', new_survey_response_path(@survey) if user_signed_in? %>
<%= link_to '戻る', surveys_path %>
