<%= turbo_frame_tag "choice_#{form.index}" do %>
  <%= form.hidden_field :id %>

  <div>
    <%= form.label :choice_text, "選択肢テキスト" %>
    <%= form.text_field :choice_text %>
  </div>

  <div>
    <%= form.label :order_number, "順序" %>
    <%= form.number_field :order_number %>
  </div>

  <%= form.submit "destroy choice",
    formaction: admins_choice_path(form.index, question_index: form.options[:parent_builder].index, id: form.object.id),
    formmethod: :delete,
    formnovalidate: true,
    data: { turbo_frame: "choice_#{form.index}" } %>
<% end %>
